<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <header class="pb-5">
            <nav class=" navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class=" navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars &#128663;</a>
                {% if user.is_authenticated %}
                <div class="ml-auto">
                    <a class="h6 mr-2 text-light">Welcome, {{user.username}}</a>
                    <a class="btn btn-outline-danger btn-sm" type="button" href="{% url 'djangoapp:logout' %}">Logout</a>
                </div> 
                {% else %}
                <form action="{% url 'djangoapp:login' %}"  method="post" class="ml-auto">
                    {% csrf_token %}<!--Important do not touch-->
                    <input class="" type="text" id="username" name="username" placeholder="UserName:">
                    <input type="password" id="pword" name="pword" placeholder="Password:">
                    <input class="btn btn-outline-success btn-sm" type="submit" value="Login">
                    <a class="btn btn-outline-warning btn-sm" type="submit" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                </form>
                {% endif %}
            </nav>
        </header>
    <!---->
    <main role="main" class="container pt-3">
        
            {% if reviews %}
            <div class="card-columns">
                {% for review in reviews %}
                
                    <div class="card" >
                        <div class="card-header">
                            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" width="40" height="40">
                        </div>
                        
                         <div class="card-body text-center">
                            <h5 class="card-title">{{review.name}}</h5>
                            <p class="card-text">{{review.review}}</p>
                         </div>
                         <div class="card-footer text-muted text-center" style="min-height: 74px;">
                        {% if review.purchase == True%}   
                            {{review.car_year}} {{review.car_make}} {{review.car_model}}
                            <br>
                            Purchased on: {{review.purchase_date}}
                        {% else %}
                            <br>
                            Reviewer did not make a purchase.
                        {% endif %}
                        </div>
                    </div>
                    
                {% endfor %}
                <div class="card ">
                         <div class="card-header">
                                <h5 class="card-title text-center pt-1">Write Your Own Review!</h5>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Want to review this dealership?</p>
                            <p class="card-text">Click the button below!</p>
                        </div>
                        <div class="card-footer text-center" style="min-height: 74px;">
                            {% if user.is_authenticated %}
                                <a class="btn btn-warning btn-lg" type="submit" href="{% url 'djangoapp:add_review' dealer_id %}">Write a Review!</a>
                            {% else %}
                                <p class="btn btn-success btn-lg" disabled>Login to write a review!</p>
                            {% endif %}
                        </div>
                         
                    </div>
                </div>
            {% else %}
                <div class="card">
                         <div class="card-header">
                                <h5 class="card-title text-center">No Reviews</h5>
                        </div>
                        <div class="card-body">
                        
                        
                        <p class="card-text text-center">There are no reviews for this dealership. Be the first to write one!</p>

                        </div>
                        <div class="card-footer text-center" style="min-height: 74px;">
                            {% if user.is_authenticated %}
                                <a class="btn btn-warning btn-lg" type="submit" href="{% url 'djangoapp:add_review' dealer_id %}">Write a Review!</a>
                            {% else %}
                                <p class="btn btn-success nohover">Login to write a review!</p>
                            {% endif %}
                        </div>
                         
                    </div>
            {% endif %}
    </main>
    <!-- Add reviews as cards -->
        <!--Footer and navbar-->
        <footer class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark">
        <div class="container">
            <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'djangoapp:about' %}">About Us</a>
            <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </div>
        </footer>
    </body>

</html>